/*** Base ***/

body {
	padding-top: 70px;
	background: #F9D535;
}

svg {
	margin: auto;
  display: block;
	width: 35%;
}



/*** Keyframes ***/

@keyframes offset {
	100% { stroke-dashoffset: 0; }
}

@keyframes fill-it {
	100% { fill: #A167A5; }
}



/*** SVG Styles ***/

.logo {
  stroke: #A167A5;
  stroke-width: 2;
  stroke-dasharray: 3212.015;
  stroke-dashoffset: 3212.015;
  animation: offset 10s linear forwards,
             fill-it 2s 8s forwards;
}
